<!doctype html>
<html lang="en">
    <head>
        <meta charset=""utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <style>
            html, body {
                margin: 0;
                padding: 0;
                color: lightgreen;
                background: rgb(23, 36, 18);
            }

            a {
                color: green;
            }

            a:visited {
                color: darkgreen;
            }
        </style>
    </head>
    <body style="font-family: monospace; padding: 1rem; max-width: 600px; margin: auto">
        <h1><pre><code>VOID.ISNOT.ART</code></pre></h1>
        <main>
            {{ content }}
        </main>
    </body>
</html>