<!doctype html>
<html lang="en">
    <head>
        <meta charset=""utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h1 style="line-height: 0.8; word-break: break-all;">VOID.ISNOT.ART</h1>
        <main>
            {{ content }}
        </main>

        <script src="/js/lazy-image.js"></script>
    </body>
</html>