<!doctype html>
<html lang="en">
    <head>
        <meta charset=""utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>VOID.ISNOT.ART | {{ title }}</title>
        <meta name="description" content="{{ excerpt }}"/>
    </head>
    <body style="font-family: monospace; padding: 1rem;">        
        <a href="/">Go back</a>
        <main>
            <h1>{{title}}</h1>
            <time datetime="{{ post.data.date }}">{{ page.date | postDate }}</time>
            <img src="{{image}}" />
            {{ content }}
        </main>
    </body>
</html>