<!doctype html>
<html lang="en">
    <head>
        <meta charset=""utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>VOID.ISNOT.ART | {{ title }}</title>
        <meta name="description" content="{{ excerpt }}"/>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <a href="/">Go back</a>
        <main>
            <h1>{{title}}</h1>
            <time style="display: block; margin-bottom: 1rem;" datetime="{{ post.data.date }}">{{ page.date | postDate }}</time>
            <br />
            <img src="{{image}}" />
            <br />
            {{ content }}
        </main>
    </body>
</html>