<!doctype html>
<html lang="en">
    <head>
        <meta charset=""utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>VOID.ISNOT.ART | {{ title }}</title>
        <meta name="description" content="{{ excerpt }}"/>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <a href="/">&lt;- Go back</a>
        <main>
            <h1 style="margin-bottom: 0">{{title}}</h1>
            <time style="margin-bottom: 1rem" datetime="{{ date | datetime }}">{{ date | postDate }}</time>            
            {% image image.src image.alt "(min-width: 52em) 800px, 100vw"%}
            <br />
            {{ content }}
        </main>
        <script src="/js/lazy-image.js"></script>
    </body>
</html>