html, body {
    margin: 0;
    padding: 0;
    color: lightgreen;
    background: rgb(16, 26, 12);
    font-size: 1rem;
    user-select: none;
}

body {
    font-family: monospace;
    max-width: 1072px;    
    margin: auto;
    padding: 0 1.5rem;
    margin-top: 1rem;
}

main {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

h2 {
    margin-bottom: 0.75rem;
}

a {
    color: #e2ffe2;
}

a:visited {
    color: #a5bea5;
}

time {
    font-size: 0.875rem;
    display: block; 
}

picture {
    width: 100%;
    display: flex;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

img[data-src] {
    opacity: 0;
    transition: opacity 0.3s;
}

img[data-loaded="true"] {
    opacity: 1;
}

h1 {
    font-size: 3rem;
}